@tailwind base;
  @tailwind components;
  @tailwind utilities;

  .ql-container{
    font-size: 16px !important;
    padding: 0 !important; 
    margin: 0 !important;
  }

  .ql-editor{
    padding: 0 !important;
  }

  .ql-container p {
    padding: 0;
    font-size: 14px !important;
  }

  .ql-container h3 {
    padding: 0;
    font-size: 16px !important;
  }

  .ql-container h2 {
    padding: 0;
    font-size: 18px !important;
  }

  .ql-container h1 {
    padding: 0;
    font-size: 20px !important;
  }

  .ql-container strong {
    font-weight: bold;
  } 

/* 
  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 46.9%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  } */

  @layer base {
    :root {
      --background: 155 36% 100%;
      --foreground: 155 71% 1%;
      --muted: 155 5% 95%;
      --muted-foreground: 155 8% 33%;
      --popover: 155 36% 100%;
      --popover-foreground: 155 71% 1%;
      --card: 155 36% 100%;
      --card-foreground: 155 71% 1%;
      --border: 155 13% 90%;
      --input: 155 13% 90%;
      --primary: 155 58% 29%;
      --primary-foreground: 0 0% 100%;
      --secondary: 155 14% 80%;
      --secondary-foreground: 155 14% 20%;
      --accent: 155 23% 71%;
      --accent-foreground: 155 23% 11%;
      --destructive: 8 87% 43%;
      --destructive-foreground: 0 0% 100%;
      --ring: 155 58% 29%;
      --radius: 0.5rem;
    }
  
    .dark {
      --background: 155 30% 0%;
      --foreground: 155 29% 98%;
      --muted: 155 5% 5%;
      --muted-foreground: 155 8% 67%;
      --popover: 155 30% 0%;
      --popover-foreground: 155 29% 98%;
      --card: 155 30% 0%;
      --card-foreground: 155 29% 98%;
      --border: 155 13% 15%;
      --input: 155 13% 15%;
      --primary: 155 58% 29%;
      --primary-foreground: 0 0% 100%;
      --secondary: 155 10% 18%;
      --secondary-foreground: 155 10% 78%;
      --accent: 155 19% 25%;
      --accent-foreground: 155 19% 85%;
      --destructive: 8 87% 49%;
      --destructive-foreground: 0 0% 100%;
      --ring: 155 58% 29%;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }